.product-image {
height:200px;
width:200px;
padding:10px;
margin:auto;


}
.ordersummary{
height:50%;
width:50%;
}
h1{
color:red;}

.finaltotal{

height:50%;
width:50%;
}

.shippingdetails{
padding:20px;
width:45%;
height:45%;

}
.flex-container{
display:flex}
.flex-child{
flex:1;
}
